# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
